<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hys.mybatis.mapper.mapper.MythOrderDao">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.hys.mybatis.mapper.entity.MythOrder">
        <id column="trans_id" property="transId" />
        <result column="target_class" property="targetClass" />
        <result column="target_method" property="targetMethod" />
        <result column="retried_count" property="retriedCount" />
        <result column="create_time" property="createTime" />
        <result column="last_time" property="lastTime" />
        <result column="version" property="version" />
        <result column="status" property="status" />
        <result column="invocation" property="invocation" />
        <result column="role" property="role" />
        <result column="error_msg" property="errorMsg" />
    </resultMap>

</mapper>
